/*modificaciones en la portada de la pagina*/
body{
  padding: 0;
  margin: 0;
}
.Fondo{
  display: flex;
  flex-direction: row;
  font-size: 80px;
}
.fondo{
  height: 1000px;
  width: 55%;
}

.titulo2__inicio{
  font-size: xx-large;
  color: black;
  background-color: rgb(35, 77, 26);
  align-items: center;
text-decoration: none;
  color: #E4D827;
  justify-content: space-between;
  display: flex; 
  margin-right: 90px;

}

/*modificaciones/ajustes pagina inicial web*/
/*ajustes parte de la barra de navegacion*/
.logo{
  width: 85px;
  height: 85px;
}
.Box_bar{
  display: flex;
  flex-direction: row;
  margin: 0; 
  background: url(/imag/pexels-karolina-grabowska-4735932.jpg);
  height: 1000px;
  width: 2000px;
}
.a{
  text-decoration: none;
}


/*ajustes pagina inicial imagen bienvenida*/
.wrap{
  width: 90%;
  height: 100vh;
  display: flex;
  text-align: left;
  background-size: cover;
  background-position: center;
  margin-left: 5%;
  size: 400px;
  }
  .wrap-texto{
    color: rgb(231, 182, 182);
    text-align: left;
    margin-top: 25%;
    width: 60%;
    margin-left: 6%;
  }

  /*ajustes de creacion de home page introduction*/
  
  .Homepage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-left: 20%;
    margin-top: 10%;
    
  }

  .Home_Intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }


/*ajustes diferentes servicios ofrecidos*/
.Info{
  margin-top: 7%;
  font-size: 20px;
  color:white;
}
.Info_Depil{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-color: white;
  border-width: 10px;
  margin-left: 85px;
}
.depil__par{
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  margin-left: 30px;
  width: 60%;
}
.Info_Pintar{
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  margin-top: 2%;
  margin-right: 4%;
}
.pintar__par{
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  margin-right: 30px;
  width: 57%;
}
.Info_Masaje{
  display: flex;
  flex-direction: column;
  flex-direction: row;
  margin-top: 2%;
  margin-left: 85px;
}
.masaje_par{
display: flex;
flex-direction: column;
justify-content: right;
align-items: center;
margin-left: 30px;
margin-top: 10%;
width: 50%;
}
.Info_Tratamientos{
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  margin-top: 2%;
  margin-right: 4%;
}
.tratam__par{
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  margin-right: 30px;
  width: 57%;
}
.img_info{
  width: 400px;
  height: 400px;
  border-radius: 10px;
}
.a_2{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: rgb(231, 182, 182);
  background-color: white;
  width: 180px;
  height: 35px;
  border-radius: 5px;
}
